@{
  ViewData["Title"] = "Задание";
}

<hr class="major">

<div class="inner">

  <h2>Задание</h2>
  <article>
    Необходимо написать простое web-приложение.<br>
    По функционалу – это новостная лента. Должны быть реализованы следующие страницы: главная страница, новость подробно.<br>
    Главная страница: заголовки новостей, возможно краткое содержание, основная картинка новости.<br>
    Новость подробно: полный текст новости с заголовком, картинками etc.<br>

    Стек технологий:<br>
    фронт JS, HTML, CSS<br>
    бэк C#<br>
  </article>
</div>

<hr class="major">
