@{
  ViewData["Title"] = "Контакты";
}

<hr class="major">

<div class="inner">
  <h2>@ViewData["Title"]</h2>

  <address>
    <strong>ФИО:</strong> Федоров Сергей Константинович<br>
    <a href="https://github.com/JeanSummers">Ссылка на гитхаб</a><br>
  </address>

  <address>
    <strong>Почта:</strong> <a href="mailto:hatersparty@gmail.com">hatersparty@gmail.com</a><br />
  </address>
</div>

<hr class="major">
