@{
  ViewData["Title"] = "News1";
}

<hr class="major">

<div class="inner">

  <header>
    <h3>Сбербанк захотел выйти из-под контроля государства</h3>
  </header>

  <div class="image left">
    <img src="~/images/_pic01.jpg" alt="Pic 01" />
  </div>


  <p>
    Глава Сбербанка Герман Греф призвал государство продать контрольную долю в крупнейшей финансовой организации России.
    Об этом топ-менеджер сообщил в ходе пресс-конференции по итогам годового собрания акционеров Сбербанка, сообщает РИА Новости.
  </p>

  <blockquote>
    «Я считаю, что не надо держать, я не вижу ни одного основания, почему нужно держать», — заявил Греф,
    отметив, что лучше продать часть Сбербанка вместо того, чтобы повышать налоги для населения.
  </blockquote>

  <p>
    Также часть денег следует направить на проведение в стране необходимых реформ, уверен банкир.
  </p>
  <p>
    В ходе пресс-конференции в полемику с Грефом вступил бывший глава Банка России Сергей Игнатьев.
    По его мнению, продавать долю в Сбербанке ЦБ не следовало бы.
  </p>
  <p>
    В настоящий момент контрольный пакет Сбербанка принадлежит Банку России — банковскому регулятору.
    На его долю приходится 52,32 процента обыкновенных акций. Доля ЦБ в уставном капитале составляет 50 процентов плюс
    одна акция, юрлиц-нерезидентов — 45,6 процента, юрлиц-резидентов — 1,5 процента, частных инвесторов — 2,9 процента.
  </p>

</div>

<hr class="major">
