<div class="image left">
    <img src="~/images/_pic02.jpg" alt="Pic 01" />
</div>

<p>
    В работе брокера Сбербанка произошел кратковременный технический сбой.
    О проблемах с проведением операций сообщил РБК клиент банка, наличие сбоя подтвердили в кредитной организации
</p>

<p>
    Из-за технического сбоя у клиентов Сбербанка возникли проблемы при проведении операций интернет-торговли на финансовом рынке.
    В период некорректной работы в личном кабинете не отображалась информация о котировках акций и брокерском счете.
</p>


<blockquote>
    &laquo;Я зашел в портфель &mdash; все по нулям, потом появились акции, но не было денег. Когда появились деньги, не стало акций.
    Отображался не мой брокерский счет &mdash; вываливалось штук семь чужих&raquo;, &mdash; рассказал РБК один из клиентов Сбербанка.
</blockquote>

<div class="image right">
    <img src="~/images/_pic03.jpg" alt="Pic 01" />
</div>

<p>
    Клиенты Сбербанка столкнулись с проблемами из-за технического сбоя, пояснили РБК в пресс-службе банка, заверив,
    что он был оперативно устранен. &laquo;По техническим причинам в течение непродолжительного времени ряд клиентов могли
    столкнуться с трудностями при проведении операций интернет-торговли на финансовом рынке. В настоящее время проблемы устранены,
    все системы банка работают в штатном режиме. Приносим извинения нашим клиентам за временные неудобства&raquo;, &mdash; сообщили в пресс-службе.
</p>

<p>В пресс-службе Сбербанка РБК сообщили, что технический сбой был устранен к 12:50.</p>


<p>
    По <a target="_blank" href="http://www.sberbank.ru/ru/person/investments/broker_service/marketsandservices;">информации</a>
    на официальном сайте, брокерскими услугами Сбербанка пользуются более 180 тыс. инвесторов в России. Банк
    <a target="_blank" href="http://www.sberbank.ru/ru/person/investments/broker_service/marketsandservices;">проводит</a> операции
    с использованием финансовых инструментов на Московской бирже, срочном рынке (фьючерсы и опционы) и внебиржевом рынке (еврооблигации,
    депозитарные расписки и акции (паи) иностранных инвестиционных фондов). Сбербанк также предлагает услуги системы интернет-трейдинга QUIK,
    по совершению необеспеченных сделок (маржинальная торговля) и внебиржевых сделок РЕПО (ОТС-РЕПО) и ОТС-РЕПО-овернайт.
</p>
